.navbar(js-navbar, class="navbar-{{$root.config.navbar.type}}", ng-class="{'navbar-inverse': $root.config.navbar.inverse, 'navbar-default': !$root.config.navbar.inverse}", data="$root.config.navbar", sites="navigation", active="active", role="navigation")
.fourohfour.text-center
  .desert(style="background: #5d63ea no-repeat center 0; height: 270px")
    <object data="images/404.svg" type="image/svg+xml">
    </object>
  .main(style="margin-top: 90px;")
    h1
      | Something's fishy here.
    h2
      | The page you were trying to reach doesn't exist.
    p.help
      a(href='http://en.wikipedia.org/wiki/HTTP_404') Why
      |  might this be happening?
  .logo
    a(href='http://sailsjs.org')
      img(src='http://sailsjs.org/images/logo.png')
