.navbar(js-navbar, class="navbar-{{$root.config.navbar.type}}", ng-class="{'navbar-inverse': $root.config.navbar.inverse, 'navbar-default': !$root.config.navbar.inverse}", data="$root.config.navbar", sites="navigation", active="active", role="navigation")
.container-fluid(ng-if="$root.sites[$root.active.index].header")
  span(row="$root.sites[$root.active.index].rows[0]", index="0", class="{{$root.sites[$root.active.index].type}}")
//- ol.breadcrumb
//-   li: a(href='#') Home
//-   li.active {{$root.sites[$root.active.index].name}}
div(ng-class="{'container': $root.sites[$root.active.index].container, 'container-fluid': !$root.sites[$root.active.index].container}")
  sidebar
  div(ng-class="{'col-md-10': sidebarActive(), 'col-md-12': !sidebarActive()}")
    //- show only if site header is active and row-index is 0, see ng-if
    span(ng-repeat="row in $root.sites[$root.active.index].rows", ng-if="!($root.sites[$root.active.index].header && $index === 0)", row="row", index="$index", class="{{$root.sites[$root.active.index].type}}")
footer.cms-footer
  div(ng-class="{'container': $root.sites[$root.active.index].container, 'container-fluid': !$root.sites[$root.active.index].container}")
    span(row="$root.config.footer", index="0", class="footer")
    .row
      p.pull-right
        a(ng-click="smoothScrollPosition(0, true)") {{ 'FOOTER_BACK' | translate }}