include ../../templates/templateCache

script(type="text/ng-template", id="admin/partials/navbar.jade"): include partials/navbar.jade
script(type="text/ng-template", id="partials/columnConfigPopover.jade"): include partials/columnConfigPopover.jade
script(type="text/ng-template", id="partials/columnConfigSelect.jade"): include partials/columnConfigSelect.jade