include ../../templates/templateCache

//- ANGULAR ADMIN PARTIALS TEMPLATES
script(type="text/ng-template", id="admin/partials/navbar.jade"): include partials/navbar.jade
script(type="text/ng-template", id="admin/partials/asideNavigation.jade"): include partials/asideNavigation.jade
script(type="text/ng-template", id="admin/partials/configPopover.jade"): include partials/configPopover.jade
script(type="text/ng-template", id="admin/partials/columnConfigPopover.jade"): include partials/columnConfigPopover.jade
script(type="text/ng-template", id="admin/partials/columnConfigSelect.jade"): include partials/columnConfigSelect.jade
script(type="text/ng-template", id="admin/partials/rowConfigPopover.jade"): include partials/rowConfigPopover.jade
script(type="text/ng-template", id="admin/partials/siteConfigPopover.jade"): include partials/siteConfigPopover.jade
script(type="text/ng-template", id="admin/partials/carouselConfigPopover.jade"): include partials/carouselConfigPopover.jade
script(type="text/ng-template", id="admin/partials/paragraphConfigPopover.jade"): include partials/paragraphConfigPopover.jade
//- ANGULAR ADMIN PARTIALS TEMPLATES END