//- ANGULAR CONTENT TEMPLATES
script(type="text/ng-template", id="content/site.jade"): include content/site.jade
script(type="text/ng-template", id="content/404.jade"): include content/404.jade
//- ANGULAR CONTENT TEMPLATES END

//- ANGULAR PARTIALS TEMPLATES
script(type="text/ng-template", id="partials/navbar.jade"): include partials/navbar.jade
script(type="text/ng-template", id="partials/sidebar.jade"): include partials/sidebar.jade
script(type="text/ng-template", id="partials/asideNavigation.jade"): include partials/asideNavigation.jade
script(type="text/ng-template", id="partials/row.jade"): include partials/row.jade
script(type="text/ng-template", id="partials/column.jade"): include partials/column.jade
script(type="text/ng-template", id="partials/columnHeader.jade"): include partials/columnHeader.jade
script(type="text/ng-template", id="partials/columnSubtext.jade"): include partials/columnSubtext.jade
script(type="text/ng-template", id="partials/columnButton.jade"): include partials/columnButton.jade
script(type="text/ng-template", id="partials/columnModal.jade"): include partials/columnModal.jade
script(type="text/ng-template", id="partials/carousel.jade"): include partials/carousel.jade
script(type="text/ng-template", id="partials/languageSelectButton.jade"): include partials/languageSelectButton.jade
script(type="text/ng-template", id="partials/languageSelect.jade"): include partials/languageSelect.jade
//- ANGULAR PARTIALS TEMPLATES END