.row(class="{{row.type}}", ng-style="row.style")
  span(ng-class="{'full-column-width': rowIsHeader()}")
    .column(ng-repeat="(column_index, column) in row.columns", ng-class="{'col-md-12': row.columns.length==1, 'col-md-6': row.columns.length==2, 'col-md-4': row.columns.length==3}" , column="column", index="column_index", rowindex="index")
hr(ng-if="row.divider", ng-class="{'featurette-divider':  row.type=='featurette' || row.type=='marketing'}")
ng-include(ng-if="row.templateUrl", src="row.templateUrl")