doctype 5
html(ng-app="jumplink.cms")
  head(ng-controller="HeadController")
    title:= title

    //- Viewport mobile tag for sensible mobile support
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- SCRIPTS ADMIN
    script(type="text/javascript", src="/general/js/socket.io.js")
    script(type="text/javascript", src="/general/js/sails.io.js")
    script(type="text/javascript", src="/bower_components/jquery/jquery.js")
    script(type="text/javascript", src="/bower_components/angular/angular.js")
    script(type="text/javascript", src="/bower_components/angular-animate/angular-animate.js")
    script(type="text/javascript", src="/bower_components/angular-route/angular-route.js")
    script(type="text/javascript", src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(type="text/javascript", src="/bower_components/angular-touch/angular-touch.js")
    script(type="text/javascript", src="/bower_components/angular-sails/angular-sails.js")
    script(type="text/javascript", src="/bower_components/underscore/underscore.js")
    script(type="text/javascript", src="/bower_components/angular-underscore/angular-underscore.js")
    script(type="text/javascript", src="/bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js")
    script(type="text/javascript", src="/bower_components/angular-translate/angular-translate.js")
    script(type="text/javascript", src="/bower_components/revolunet-angular-carousel/src/angular-carousel.js")
    script(type="text/javascript", src="/bower_components/revolunet-angular-carousel/src/directives/rn-carousel-controls.js")
    script(type="text/javascript", src="/bower_components/revolunet-angular-carousel/src/directives/rn-carousel-indicators.js")
    script(type="text/javascript", src="/bower_components/revolunet-angular-carousel/src/directives/rn-carousel.js")
    script(type="text/javascript", src="/bower_components/revolunet-angular-carousel/src/directives/sliceFilter.js")
    script(type="text/javascript", src="/bower_components/lr-notifier/src/notifier.js")
    script(type="text/javascript", src="/bower_components/angular-strap/dist/angular-strap.js")
    script(type="text/javascript", src="/bower_components/angular-contenteditable/angular-contenteditable.js")
    script(type="text/javascript", src="/bower_components/angular-translate-loader-url/angular-translate-loader-url.js")
    script(type="text/javascript", src="/bower_components/angular-smoothscroll/dist/scripts/c8742280.scripts.js")
    script(type="text/javascript", src="/bower_components/angular-loading-bar/build/loading-bar.js")
    script(type="text/javascript", src="/bower_components/leaflet-dist/leaflet.js")
    script(type="text/javascript", src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js")
    script(type="text/javascript", src="/general/js/angular/config.js")
    script(type="text/javascript", src="/general/js/angular/controllers.js")
    script(type="text/javascript", src="/extensions/js/controllers/RimtestMarker.js")
    script(type="text/javascript", src="/general/js/angular/directives.js")
    script(type="text/javascript", src="/general/js/angular/policies.js")
    script(type="text/javascript", src="/general/js/angular/services.js")
    script(type="text/javascript", src="/general/js/angular/workaround.js")
    script(type="text/javascript", src="/admin/js/controllers.js")
    script(type="text/javascript", src="/admin/js/directives.js")
    script(type="text/javascript", src="/admin/js/routes.js")
    script(type="text/javascript", src="/admin/js/services.js")
    //- SCRIPTS ADMIN END

    //- TODO CSRF_TOKEN
    script.
      angular.module("jumplink.cms").constant('CSRF_TOKEN', 'placeholder');
      angular.module("jumplink.cms").constant('ADMIN', true);

    //- STYLES
    
    //- STYLES END
    link#style(rel="stylesheet", ng-href="/styles/admin.css")

    include templates/templateCache
  body(ng-controller="BodyController", ng-class="{'for-fixed-navbar-top': topNavbarIsFixed(), 'for-fixed-navbar-bottom': bottomNavbarIsFixed() }")
    block body 


    //-   Client-side Templates
    //-   ========================

    //- HTML templates are important prerequisites of modern, rich client applications.
    //-   To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    //-   that you load these templates client-side.

    //-   By default, your Gruntfile is configured to automatically load and precompile
    //-   client-side JST templates in your `assets/linker/templates` folder, then
    //-   include them here automatically.
      
    //-   To customize this behavior to fit your needs, just edit your Gruntfile.
    //-   For example, here are a few things you could do:

    //-       + Import templates from other directories
    //-       + Use a different template engine (handlebars, jade, dust, etc.)
    //-       + Internationalize your templates using a server-side stringfile
    //-         before they're served.

    //- TEMPLATES
    
    //- TEMPLATES END

    //- Client-side Javascript
    //- ========================

    //- You can always bring in JS files manually with `script` tags, or asynchronously
    //- on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
    //- take advantage of Sails' boilerplate asset management.

    //- By default, filesin your `assets/linker/js` folder are included here
    //- automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
    //- In production, your scripts will be minified and concatenated into a single file.
    
    //- To customize any part of the built-in behavior, just edit your Gruntfile.
    //- For example, here are a few things you could do:
        
    //-     + Change the order of your scripts
    //-     + Import scripts from other directories
    //-     + Use a different preprocessor, like TypeScript