nav.navbar(class="navbar-{{$root.config.navbar.type}}", ng-class="{'navbar-inverse': $root.config.navbar.inverse, 'navbar-default': !$root.config.navbar.inverse}", role="users")
  .container-fluid
    .navbar-header
      a.navbar-brand {{'BRAND_SETTINGS' | translate}}
    .collapse.navbar-collapse.navbar-ex1-collapse
      .navbar-form.navbar-right
        language-select
.container
  form(role="form") 
    .form-group
      .text-center: label {{'Activated Languages' | translate}}
      select.form-control(multiple ng-multiple="true", ng-model="$root.config.languages.active", ng-options="lang for lang in $root.config.languages.available")
    .form-group
      .text-center: label {{'Default Languages' | translate}}
      select.form-control(ng-model="$root.config.languages.default", ng-options="lang for lang in $root.config.languages.active")
    .form-group
      .text-center: label {{'Navbar Inverse' | translate}}
      toggle-switch(model='$root.config.navbar.inverse')
      .text-center: label {{'Navbar Type' | translate}}
      input.form-control(type="text", ng-model="$root.config.navbar.type")
      .text-center: label {{'Navbar Container' | translate}}
      toggle-switch(model='$root.config.navbar.container')
      //- .text-center: label {{'Footer' | translate}}
      //- textarea.form-control(rows="5", model='$root.config.footer.content.langs[$root.selectedLanguage]')
