.container-placeholder
  .navbar-header
    button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(href="#" ).navbar-brand Title
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav#jl-navbar-nav
      li(data-match-route="/"): a(href="#/") Home