.container-placeholder
  .navbar-header
    button.navbar-toggle(type="button", data-template="partials/asideNavigation.jade", bs-aside="aside")
      i.fa.fa-ellipsis-v
    a(href="#" ).navbar-brand Title
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav#jl-navbar-nav
      li(data-match-route="/"): a(href="#/") Home
    .navbar-right
      language-select