column-config-popover.popover.popover-form(style="min-width:450px;")
  .arrow
  h3.popover-title Column {{selected.columnIndex}}
  .popover-content
    column-config-form(form-column="$root.selected.column")