.row
  .col-md-4
    form(role="form")
      .form-group
        .text-center: label Paragraphs
        toggle-switch(model='formColumn.paragraphs_active')
        label Count
        .input-group
          span.input-group-btn
            button.btn.btn-default(type="button", ng-disabled="formColumn.paragraphs.length <= 1", ng-click="formColumn.paragraphs.length = formColumn.paragraphs.length - 1")
              .fa.fa-minus-circle
          input.form-control(type="text", disabled="disabled", ng-model="formColumn.paragraphs.length")
          span.input-group-btn
            button.btn.btn-default(type="button", ng-click="formColumn.paragraphs.length = formColumn.paragraphs.length + 1")
              .fa.fa-plus-circle
        label HTML
        .input-group
          button.btn.btn-default(type="button", ng-click="editHtmlParagraphs(formColumn.paragraphs)") Edit
      hr
      .form-group
        .text-center: label Button
        toggle-switch(model='formColumn.button.active')
      .form-group(ng-show="formColumn.button.active")
        label Size
        input.form-control(type="text", ng-model="formColumn.button.size")
        label Type
        input.form-control(type="text", ng-model="formColumn.button.type")
        label Content
        input.form-control(type="text", ng-model="formColumn.button.content.langs[$root.selectedLanguage]")
  .col-md-4
    form(role="form")
      .form-group
        .text-center: label Header
        toggle-switch(model='formColumn.header.active')
      .form-group
        .text-center: label Subcategory
        toggle-switch(model='formColumn.header.subcategory')
      .form-group(ng-show="formColumn.header.active")
        label Size
        .input-group
          span.input-group-btn
            button.btn.btn-default(type="button", ng-click="formColumn.header.size = formColumn.header.size-1")
              .fa.fa-minus-circle
          input.form-control(type="text", ng-model="formColumn.header.size")
          span.input-group-btn
            button.btn.btn-default(type="button", ng-click="formColumn.header.size  = formColumn.header.size+1")
              .fa.fa-plus-circle
      hr
      .form-group
        .text-center: label Subtext
        toggle-switch.switch-danger(model='formColumn.subtext.active')
      br
      .form-group(ng-show="formColumn.subtext.active")
        label Type
        br
        select.form-control(ng-Model="formColumn.subtext.type", name="string", required, ng-Required="string", ng-Options='type.value as type.label for type in $root.config.subtext.types') 
  .col-md-4
    form(role="form")    
      .form-group
        .text-center: label Carousel
        toggle-switch(model='formColumn.carousel.active')
      .form-group(ng-show="formColumn.carousel.active")
        label Height
        input.form-control(type="text", ng-model="formColumn.carousel.height")
        label Type
        input.form-control(ng-show="formColumn.carousel.active", type="text", ng-model="formColumn.carousel.type")
  .col-md-4
    form(role="form") 
      .form-group
        .text-center: label Image
        toggle-switch(model='formColumn.image.active')
      .form-group(ng-show="formColumn.image.active")
        label Position
        input.form-control(type="text", ng-model="formColumn.image.position")
        label Type
        input.form-control(ng-show="formColumn.image.active", type="text", ng-model="formColumn.image.type")
        label Src
        input.form-control(ng-show="formColumn.image.active", type="text", ng-model="formColumn.image.src")
        label width
        input.form-control(ng-show="formColumn.image.active", type="number", ng-model="formColumn.image.width")
        label height
        input.form-control(ng-show="formColumn.image.active", type="number", ng-model="formColumn.image.height")