.popover.popover-form(style="min-width:450px;")
  .arrow
  h3.popover-title Column {{selected.columnIndex}}
  .popover-content
    .row
      .col-md-4
        form(role="form")
          .form-group
            .text-center: label General
            label Paragraphs
            .input-group
              span.input-group-btn
                button.btn.btn-default(type="button", ng-click="removeParagraph(selected.column.paragraphs)")
                  .fa.fa-minus-circle
              input.form-control(type="text", ng-model="selected.column.paragraphs.length")
              span.input-group-btn
                button.btn.btn-default(type="button", ng-click="addParagraph(selected.column.paragraphs)")
                  .fa.fa-plus-circle
          hr
          .form-group
            .text-center: label Button
            toggle-switch(model='selected.column.button.active')
          .form-group
            label Size
            input.form-control(ng-disabled="!selected.column.button.active", type="text", ng-model="selected.column.button.size")
            label Type
            input.form-control(ng-disabled="!selected.column.button.active", type="text", ng-model="selected.column.button.type")
      .col-md-4
        form(role="form")
          .form-group
            .text-center: label Header
            toggle-switch(model='selected.column.header.active')
          .form-group
            label Size
            .input-group
              span.input-group-btn
                button.btn.btn-default(ng-disabled="!selected.column.header.active", type="button", ng-click="selected.column.header.size = selected.column.header.size-1")
                  .fa.fa-minus-circle
              input.form-control(ng-disabled="!selected.column.header.active", type="text", ng-model="selected.column.header.size")
              span.input-group-btn
                button.btn.btn-default(ng-disabled="!selected.column.header.active", type="button", ng-click="selected.column.header.size  = selected.column.header.size+1")
                  .fa.fa-plus-circle
          hr
          .form-group
            .text-center: label Subtext
            br
            toggle-switch(model='selected.column.subtext.active')
          br
          .form-group
            label Type
            br
            select.form-control(ng-disabled="!selected.column.subtext.active", ng-Model="selected.column.subtext.type", name="string", required, ng-Required="string", ng-Options='type.value as type.label for type in $root.config.subtext.types') 
      .col-md-4
        form(role="form")    
          .form-group
            .text-center: label Carousel
            toggle-switch(model='selected.column.carousel.active')
          .form-group
            label Height
            input.form-control(ng-disabled="!selected.column.carousel.active", type="text", ng-model="selected.column.carousel.height")
            label Type
            input.form-control(ng-disabled="!selected.column.carousel.active", type="text", ng-model="selected.column.carousel.type")
          hr