.navbar.navbar-admin.navbar-inverse.navbar-fixed-bottom(role="admin")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-template="partials/asideNavigation.jade", bs-aside="aside")
        i.fa.fa-ellipsis-v
      a(href="#" ).navbar-brand Admin
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav 
        li(data-match-route="/"): a(href="#/{{sites[0].href}}") {{'NAV_LIVE'|translate}}
        li(data-match-route="/"): a(href="#/{{sites[0].href}}") {{'NAV_TRANS'|translate}}
      form.navbar-form.navbar-left
        .btn-group
          button.btn.btn-default(type="button", title="add new site", ng-click="addSite()")
            i.fa.fa-file-text-o
          button.btn.btn-default(type="button", title="Site settings", data-placement="top", data-animation="animation-fade", data-template='admin/partials/configPopover.jade', data-trigger="click", bs-popover)
            i.fa.fa-cog
          button.btn.btn-default(title="Save", ng-click="save()")
            i.fa.fa-floppy-o
      p.navbar-text.navbar-right
        span(ng-if="selected.siteIndex >= 0") Site {{selected.siteIndex}}&nbsp;
        span(ng-if="selected.rowIndex >= 0") Row {{selected.rowIndex}}&nbsp;
        span(ng-if="selected.columnIndex >= 0") Column {{selected.columnIndex}}&nbsp;
        span(ng-if="selected.carousel.slideIndex >= 0") Carousel Slide {{selected.carousel.slideIndex}}&nbsp;
        span(ng-if="selected.carousel.columnIndex >= 0") Column: {{selected.carousel.columnIndex}}&nbsp;