.navbar.navbar-admin.navbar-inverse.navbar-fixed-bottom(role="admin")
  .container
    .navbar-header
      button.navbar-toggle(type="button", bs-aside)
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="#" ).navbar-brand Admin
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav 
        li(data-match-route="/"): a(href="#/") Live
      form.navbar-form.navbar-left
        .btn-group
          button.btn.btn-default(type="button", data-placement="top", data-animation="animation-fade", data-template='partials/columnConfigPopover.jade', data-trigger="click", bs-popover)
            i.fa.fa-cog
          button.btn.btn-default(ng-click="save()")
            i.fa.fa-floppy-o
      p.navbar-text.navbar-right Select: Row {{selected.rowIndex}} Column {{selected.columnIndex}} Carousel Slide: {{selected.carousel.slideIndex}} Carousel Column: {{selected.carousel.columnIndex}}