.popover.popover-form
  .arrow
  h3.popover-title Paragraph {{selected.paragraphIndex}}
  .popover-content
    .row
      .col-md-12
        form(role="form")
          .form-group
            .text-center: label Lead
            toggle-switch(model='selected.paragraph.lead')
          .form-group
            label Aligned
            input.form-control(type="text", ng-model="selected.paragraph.aligned")
          .form-group
            label Color
            input.form-control(type="text", ng-model="selected.paragraph.color")
          hr