.popover.popover-form
  .arrow
  h3.popover-title Row {{selected.rowIndex}}
  .popover-content
    form(role="form")
      .form-group
        .text-center: label General
        label Type
        br
        input.form-control(type="text", ng-model="$root.selected.row.type")
      .form-group
        label Columns
        .input-group
          span.input-group-btn
            button.btn.btn-default(type="button", ng-disabled="$root.selected.row.columns.length <= 1", ng-click="removeColumn();")
              .fa.fa-minus-circle
          input.form-control(type="text", disabled="disabled", ng-model="$root.selected.row.columns.length")
          span.input-group-btn
            button.btn.btn-default(type="button", ng-disabled="$root.selected.row.columns.length >= 3", ng-click="addColumn();")
              .fa.fa-plus-circle
      .form-group
        label Style
        br
        input.form-control(type="text", ng-model="$root.selected.row.style")
      .form-group
        label Divider
        br
        toggle-switch(model='selected.row.divider')