//- ANGULAR CONTENT TEMPLATES
script(type="text/ng-template", id="content/site.jade"): include content/site.jade
//- ANGULAR CONTENT TEMPLATES END

//- ANGULAR PARTIALS TEMPLATES
script(type="text/ng-template", id="partials/row.jade"): include partials/row.jade
script(type="text/ng-template", id="partials/column.jade"): include partials/column.jade
script(type="text/ng-template", id="partials/carousel.jade"): include partials/carousel.jade
//- ANGULAR PARTIALS TEMPLATES END